<html>
<link rel="stylesheet" type="text/css" href="styles/base.css">
<link id="stylemanager" rel="stylesheet" type="text/css" href="styles/light.css">
<title> Subatomic Idling </title>
<div id="subatomicidling">
  <div class="sidenav">
    <a class="gamename">Subatomic Idling {{settings.version}}</a>
    <a class="menubutton quarkmenubutton" onclick='openscreen("quark")'>Quark</a>
    <a class="menubutton electronmenubutton" onclick='openscreen("electron")' v-if='hasachievement("electrifyunlock")'>Electron</a>
    <a class="menubutton achievementmenubutton" onclick='openscreen("achievements")'>Achievements</a>
    <a class="menubutton statisticsmenubutton" onclick='openscreen("stats")'>Statistics</a>
    <a class="menubutton settingsmenubutton" onclick='openscreen("options")'>Settings</a>
    <a class="menubutton changelogmenubutton" onclick='openscreen("changelog")'>Changelog</a>
    <a class="menubutton htpmenubutton" onclick='openscreen("howtoplay")'>How To Play</a>
  </div>
  <div id="gamecontent">
    <div id="currenciesdisplay">
      <table id="currenciestable">
        <tr class="currenciesrow">
          <td class="currenciescell"><currency-display v-bind:currency="player.quarkstage.quarks"></currency-display></td>
          <td class="currenciescell" v-if='hasachievement("electrifyunlock")'><currency-display v-bind:currency="player.electronstage.electrons"></currency-display></td>
        </tr>
        <tr class="currenciesrow">
        </tr>
      </table>
    </div>
    <div id="screens">
      <div id="optionsscreen" class="centered" style="display: none">
        <table align="center">
          <tbody>
            <tr>
              <td>
                <div class="optionbutton standardbutton">
                  <label for="notations" class="standardtext">Choose a notation:</label>
                  <select id="notations" class="standarddropdown" onchange="changeNotation(this.value)">
                    <option value="standard">Standard</option>
                    <option value="scientific">Scientific</option>
                    <option value="engineering">Engineering</option>
                    <option value="mixedscientific">Mixed Scientific</option>
                    <option value="mixedengineering">Mixed Engineering</option>
                    <option value="letters">Letters</option>
                    <option value="cancer">Cancer</option>
                    <option value="logarithm">Logarithm</option>
                    <option value="brackets">Brackets</option>
                    <option value="infinity">Infinity</option>
                    <option value="roman">Roman</option>
                    <option value="dots">Dots</option>
                    <option value="zalgo">Zalgo</option>
                    <option value="hex">Hex</option>
                    <option value="imperial">Imperial</option>
                    <option value="clock">Clock</option>
                    <option value="prime">Prime</option>
                    <option value="bar">Bar</option>
                    <option value="shi">Shi</option>
                    <option value="blind">Blind</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="optionbutton standardbutton">
                  <label for="themes" class="standardtext">Choose a theme:</label>
                  <select id="themes" class="standarddropdown" onchange="changeTheme(this.value)">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="null">Null</option>
                  </select>
                </div>
              </td>
              <td>
                <div>
                  <button class="optionbutton standardbutton" onclick="reset()"><label>Completely Reset Save</label></button>
                </div>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="quarkscreen">
        <producers-display v-bind:producers="player.quarkstage.producers" type="quark"></producers-display>
      </div>
      <div id="electronscreen" style="display: none;">
        <div id="electronupgrades">
          <div class="grid electronupgrades">
            <electron-upgrade-item v-for="upgrade in player.electronstage.upgrades" v-bind:upgrade="upgrade" ></electron-upgrade-item>
          </div>
        </div>
        <div id="electronupgradeinfo">
          <span class="electronupgradename">{{selectedelectronupgrade.displayname}}</span><br><br>
          <span class="electronupgradecost">Cost: {{selectedelectronupgrade.costs[0].description}}</span><br>
          <span class="electronupgradelevel">Level: {{selectedelectronupgrade.bought}}/{{selectedelectronupgrade.maxbuyable}}</span><br>
          <span class="electronupgradeeffect">Effect: {{selectedelectronupgrade.effects[0].description}}</span><br><br>
          <button class="electronupgradebuyamount">Buy Amount: {{getbuyamount("eupg")}}</button>
          <button class="electronupgradeauto">Automatic: Locked</button>
        </div>
      </div>
      <div id="achievementsscreen" style="display: none">
        <div class="grid achievementdisplay">
            <achievement-item v-for="achieve in player.achievements" v-bind:achievement="achieve"> <achievement-item>
        </div>
        <div id="achievementinfo">
          <span class="achievementhover achievementinfo">Hover over achievement for more information!</span><br><br>
          <span class="achievementname achievementinfo">{{selectedachievement.displayname}}</span><br><br>
          <span class="achievementrequirement achievementinfo">Requires: {{selectedachievement.requirement}}</span><br>
          <span class="achievementeffect achievementinfo">Effect: {{selectedachievement.effect}}</span><br><br>
        </div>
      </div>
      <div id="statsscreen" class="centered" style="display: none">
        <div class="statsidenav">
          <a class="gamename">Statistics</a>
          <a class="menubutton" onclick='openstatscreen("general")'>General</a>
          <a class="menubutton" onclick='openstatscreen("electrify")' v-if='hasachievement("electrifyunlock")'>Electrify</a>
        </div>
        <div class="statcontent">
          <div id="generalstatscreen"></div>
          <div id="electrifystatscreen" style="display: none">
            <span class="currencyextra">Current Electrify Time: {{formattime(player.stats.currentelectrifytime,false,false,true,true,false)}}</span>
            <br>
            <span class="currencyextra" v-if="player.stats.electrified > 0">Times Electrified: {{player.stats.electrified}}</span>
            <br>
            <br>
            <div class="past10">
              <span class="past10label">Past 10 Electrifies</span>
              <br>
              <br>
              <span class="past10value" v-for="(val, index) in player.stats.past10electrifies" :key="index">The Electrify {{index+1}} Electrify ago took {{formattime(val[0],false,false,true,true,false)}} and gave {{val[1]}} Electrons <br></span>
            </div>
          </div>
        </div>
      </div>
      <div id ="changelogscreen" class="centered" style="display: none">
        <div class="statsidenav">
          <a class="gamename">Changelog</a>
          <a class="menubutton" onclick='openchangelogscreen("v0.0.1")'>0.0.1</a>
          <a class="menubutton" onclick='openstatscreen("v0.0.2")'>0.0.2</a>
        </div>
        <div class="statcontent">
          <div id="changelog"></div>
          <div class="centered">
            <span class="changelogtext">
              Will be balanced... soon™
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/break_infinity.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations"></script>
<script src="js/customlib/producer.js"> </script>
<script src="js/customlib/currency.js"> </script>
<script src="js/customlib/requirement.js"> </script>
<script src="js/customlib/cost.js"> </script>
<script src="js/customlib/production.js"> </script>
<script src="js/customlib/upgrade.js"> </script>
<script src="js/customlib/effect.js"> </script>
<script src="js/customlib/prestige.js"> </script>
<script src="js/customlib/achievement.js"> </script>
<script src="js/customlib/linetree.js"> </script>
<script src="js/settings.js"> </script>
<script src="js/UI.js"> </script>
<script src="js/content/stages/00_quark/base.js"> </script>
<script src="js/content/stages/01_electron/base.js"> </script>
<script src="js/content/achievements.js"> </script>
<script src="js/math.js"> </script>
<script src="js/savemanager.js"> </script>
<script src="js/game.js"> </script>
<script src="js/vueimplementation.js"></script>
</html>
