<html>
<link rel="stylesheet" type="text/css" href="styles/base.css">
<link id="stylemanager" rel="stylesheet" type="text/css" href="styles/light.css">
<title> Subatomic Idling </title>
<div id="subatomicidling">
  <div class="sidenav">
    <a class="gamename">Subatomic Idling {{settings.version}}</a>
    <a class="menubutton" onclick='openscreen("quark")'>Quark</a>
    <a class="menubutton" onclick='openscreen("electron")' v-if='hasachievement("electrifyunlock")'>Electron</a>
    <a class="menubutton" onclick='openscreen("achievements")'>Achievements</a>
    <a class="menubutton" onclick='openscreen("stats")'>Statistics</a>
    <a class="menubutton" onclick='openscreen("options")'>Options</a>
    <a class="menubutton" onclick='openscreen("changelog")'>Changelog</a>
  </div>
  <div class="palettelist">
    <table>
      <tr>
        <td class="palette color1"></td>
        <td class="palette color2"></td>
        <td class="palette color3"></td>
        <td class="palette color4"></td>
        <td class="palette color5"></td>
        <td class="palette color6"></td>
        <td class="palette color7"></td>
        <td class="palette color8"></td>
        <td class="palette color9"></td>
        <td class="palette color10"></td>
      </tr>
    </table>
  </div>
  <div id="gamecontent">
    <div id="screens">
      <div id="optionsscreen" class="centered" style="display: none">
        <table align="center">
          <tbody>
            <tr>
              <td>
                <div class="optionbutton standardbutton">
                  <label for="notations" class="standardtext">Choose a notation:</label>
                  <select id="notations" class="standarddropdown" onchange="changeNotation(this.value)">
                    <option value="standard">Standard</option>
                    <option value="scientific">Scientific</option>
                    <option value="engineering">Engineering</option>
                    <option value="mixedscientific">Mixed Scientific</option>
                    <option value="mixedengineering">Mixed Engineering</option>
                    <option value="letters">Letters</option>
                    <option value="cancer">Cancer</option>
                    <option value="logarithm">Logarithm</option>
                    <option value="brackets">Brackets</option>
                    <option value="infinity">Infinity</option>
                    <option value="roman">Roman</option>
                    <option value="dots">Dots</option>
                    <option value="zalgo">Zalgo</option>
                    <option value="hex">Hex</option>
                    <option value="imperial">Imperial</option>
                    <option value="clock">Clock</option>
                    <option value="prime">Prime</option>
                    <option value="bar">Bar</option>
                    <option value="shi">Shi</option>
                    <option value="blind">Blind</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="optionbutton standardbutton">
                  <label for="themes" class="standardtext">Choose a theme:</label>
                  <select id="themes" class="standarddropdown" onchange="changeTheme(this.value)">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                  </select>
                </div>
              </td>
              <td>
                <div>
                  <button class="optionbutton standardbutton" onclick="reset()"><label>Completely Reset Save</label></button>
                </div>
              </td>
              <td>
              <td class="optioncell">
                <div class="centered">
                  <button class="optionbutton" onclick="player.options.hotkeysenabled = !player.options.hotkeysenabled"><label v-if="player.options.hotkeysenabled">Disable Hotkeys</label><label v-if="!player.options.hotkeysenabled">Enable Hotkeys</label></button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="optioncell">
                <div class="centered">
                  <button class="optionbutton" onclick="savetofile()"><label>Export Save To File</label></button>
                </div>
              </td>
              <td class="optioncell">
                <div class="centered">
                  <button class="optionbutton">
                  <label for="file-input" class="input-label">
                    Load Save From File <!-- Replace with whatever text or icon you wish to use -->
                    <input type="file" id="file-input" onchange='loadsavefromfile(this)'>
                  </label>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="hotkeyinfo">
          <span>1-0 Will Purchase Charmer-Big Bang at current buy amount, m will max all in the quark producers tab, e will electrify if the requirements are met</span>
        </div>
      </div>
      <div id="producersscreen" style="display: none">
        <div class="subsidenav" v-if='hasachievement("electrifyunlock")'>
          <a class="menubutton quarksubmenubutton" onclick='openproducersscreen("quark")'>Quark</a>
          <a class="menubutton electronsubmenubutton" onclick='openproducersscreen("electron")'>Electron</a>
          <a class="menubutton nucleonsubmenubutton" onclick='openproducersscreen("nucleon")' v-if='hasachievement("nucleonizeunlock")'>Nucleon</a>
        </div>
        <div class="subcontent" id="quarkproducersscreen" style="display: none">
          <producers-display v-bind:producers="player.quarkstage.producers" type="quark"></producers-display>
          <div class="spacer32"></div>
          <upgrades-display v-bind:upgrades="player.quarkstage.upgrades" type="quark"></upgrades-display>
          <buy-amount-selector type="qp"></buy-amount-selector>
        </div>
        <div class="subcontent" id="electronproducersscreen" style="display:none;">
          <upgrade-bonus v-bind:upgrade="player.electronstage.quarkspin"></upgrade-bonus>
          <producers-display v-bind:producers="player.electronstage.quarkspinproducers" type="quark"></producers-display>
          <div class="spacer32"></div>
          <upgrades-display v-bind:upgrades="player.electronstage.quarkspinupgrades" type="quark"></upgrades-display>
          <buy-amount-selector type="qsp"></buy-amount-selector>
        </div>
        <div class="subcontent" id="nucleonproducersscreen" style="display:none;">
          <upgrade-bonus v-bind:upgrade="player.nucleonstage.freeelectrons"></upgrade-bonus>
          <producers-display v-bind:producers="player.nucleonstage.freeelectronproducers" type="quark"></producers-display>
          <div class="spacer32"></div>
          <upgrades-display v-bind:upgrades="player.nucleonstage.freeelectronupgrades" type="quark"></upgrades-display>
          <buy-amount-selector type="fep"></buy-amount-selector>
        </div>
      </div>
      <div id="upgradesscreen" style="display: none;">
        <div class="subsidenav" v-if='hasachievement("electrifyunlock")'>
          <a class="menubutton quarksubmenubutton" onclick='openupgradesscreen("quark")'>Quark</a>
          <a class="menubutton electronsubmenubutton" onclick='openupgradesscreen("electron")'>Electron</a>
          <a class="menubutton nucleonsubmenubutton" onclick='openupgradesscreen("nucleon")' v-if='hasachievement("nucleonizeunlock")'>Nucleon</a>
        </div>
        <div id="quarkupgradesscreen" class="subcontent" style="display: none">
          <div class="upgrades">
            <upgrade-item v-for="upgrade in player.quarkstage.singletonupgrades" v-bind:upgrade="upgrade" ></upgrade-item>
          </div>
        </div>
        <div id="quarkproducers" style="float:left;">
          <div>
            <span class="title">
              Quark Producers
            </span>
            <div v-for="producer in player.quarkstage.producers" v-bind:producer="producer" v-if="producer.unlocked">
              <producer-item v-bind:producer="producer" ></producer-item>
            </div>
            <div id="quarkbuyamount">
              <span class="currencyextra">Buy Amount: {{getbuyamount()}}
              Set Buy Amount to: </span>
              <button class="buybutton" v-on:click="setbuyamount(1)">1</button>
              <button class="buybutton" v-on:click="setbuyamount(10)">10</button>
              <button class="buybutton" v-on:click="setbuyamount(25)">25</button>
              <button class="buybutton" v-on:click="setbuyamount(100)">100</button>
            </div>
          </div>
        </div>
        <div id="quarkrebuyableupgrades" style="float:left; padding-left: 10px;">
          <span class="title">
            Quark Rebuyables
          </span>
          <div v-for="upgrade in player.quarkstage.upgrades" v-bind:producer="upgrade" class="test" v-if="upgrade.unlocked">
            <upgrade-item v-bind:upgrade="upgrade" ></upgrade-item>
          </div>
        </div>
        <div id="elctrolizebuttonquark" v-if='hasachievement("electrifyunlock")'>
          <button class="prestigedisplay quarkscreenelectrolyzebutton" v-on:click="player.quarkstage.electrify.doprestige()">Electrolize for {{format(player.quarkstage.electrify.producedcurrencyamount)}} Electrons</button>
        </div>
      </div>
      <div id="electronscreen" style="display: none;">
        <div id="electronamountdisplay">
            <span class="currencyextra">You have <span id="currency_electrons_amount" class="currencydisplay"> {{format(player.electronstage.electrons.amount)}} </span> Electrons.
            </span>
        </div>
        <div class="subcontent">
          <div id="generalstatscreen">
            <span class="currencyextra">Playtime: {{formattime(player.stats.times[0],true,true,true,true,false)}}</span>
          </div>
          <div id="electrifystatscreen" style="display: none">
            <span class="currencyextra">Current Electrify Time: {{formattime(player.stats.times[1],true,true,true,true,false)}}</span>
            <br>
            <span class="currencyextra" v-if="player.stats.electrified > 0">Times Electrified: {{player.stats.electrified}}</span>
            <br>
            <br>
            <div class="past10">
              <span class="past10label">Past 10 Electrifies</span>
              <br>
              <br>
              <span class="past10value" v-for="(val, index) in player.stats.past10electrifies" :key="index">The Electrify {{index+1}} Electrify ago took {{formattime(val[0],false,false,true,true,false)}} and gave {{formatDecimal(val[1])}} Electrons <br></span>
            </div>
          </div>
        </div>
      </div>
      <div id="achievementsscreen"style="display: none">
        <div class="achievementdisplay">
            <achievement-item v-for="achieve in player.achievements" v-bind:achievement="achieve"> <achievement-item>
      <div id="orbitalsscreen" style="display: none;">
        <div id="electronpower">
          <appliable-upgrade v-bind:upgrade="player.electronstage.clouds.power" v-bind:appliesto="player.electronstage.clouds.orbitals"></appliable-upgrade>
          <applied-upgrades-display v-bind:upgrades="player.electronstage.clouds.orbitals" type="electronpower"></applied-upgrades-display>
        </div>
      </div>
      <div id="challengesscreen" style="display: none;">
        <div class="challengelist">
          <challenge-item v-for="challenge in player.challenges" v-bind:challenge="challenge"></challenge-item>
        </div>
        <div class="challengeentercontainer">
          <button v-bind:class='{challengeenterexit: true, enterchallenge: runningchallenges.length == 0, exitchallenge: runningchallenges.length > 0}' v-on:click='togglechallenges()'><span v-if="runningchallenges.length == 0">Enter</span><span v-if="runningchallenges.length > 0">Exit</span> Challenges</button>
          <span class="challengeenterinfo">All Active Challenges Will Be <span v-if="runningchallenges.length == 0">Entered</span><span v-if="runningchallenges.length > 0">Exited And All Pending Scores Will Be Transfered To Score</span></span>
        </div>
        <div id="challengeinfo">
          <table class="challengeinfotable">
            <tr>
              <td class="challengeinfocell">
                <span class="challengename challengeinfo">{{selectedchallenge.displayname}}</span><br><br>
                <span class="challengedescription challengeinfo">{{selectedchallenge.description}}</span><br>
                <span class="challengeeffect challengeinfo">Effect: {{selectedchallenge.inchaleffects[0].geteffect()}}</span><br>
                <span class="challengescore challengeinfo">Score: {{formatDecimalNormal(selectedchallenge.score)}} ({{formatDecimalNormal(selectedchallenge.newscore)}})</span><br>
                <span class="challengerewardlabel challengeinfo">Challenge Bonus Equations || Current Challenge Bonus (Always Active)<br></span>
                <span class="challengereward challengeinfo">{{selectedchallenge.effectsdescription}}</span><br>
              </td>
              <td class="challengeinfocell">
                <span class="challengescorebreakdown challengeinfo">Base Score: {{selectedchallenge.basescoredescription}}</span><br>
                <span class="challengescorebreakdown challengeinfo">Final Score = Base Score * Below Multipliers</span><br>
                <span class="challengescoremultiplier challengeinfo">Difficulty Score Multiplier: {{formatDecimalOverride(selectedchallenge.difficultyscoremultiplier, 2)}}</span><br>
                <span class="challengescoremultiplier challengeinfo">Synergy Score Multiplier: {{formatDecimalOverride(selectedchallenge.synergyscoremultiplier, 2)}}</span><br>
                <span class="challengescoremultiplier challengeinfo">Other Score Multiplier: {{formatDecimalOverride(selectedchallenge.scoremultiplier, 2)}}</span><br>
                <span class="challengesynergyinfo challengeinfo">Challenge Synergy Values (c1,c2,...,c#): <span class="challengescoremultiplier">{{selectedchallenge.synergyvalues}}</span></span><br>
                <span class="challengesynergyinfo challengeinfo">Synergy Score Breakdown: Each challenge has a synergy value with every other challenge, the base synergy value is multiplied by each active challenge's synergy value with this challenge, this value is then raised to the amount of active challenges to get the final synergy multiplier.</span><br>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id ="changelogscreen" class="" style="display: none;">
        <div class="subsidenav">
          <a v-for="version in versions" class="menubutton" v-on:click='openchangelogscreen(version)'>{{version}}</a>
        </div>
        <div class="subcontent">
          <div id="changelog"></div>
          <div class="">
            <span id="changelogdisplay" class="changelogtext"></span><br>
            <span class="changelogtext">
              Will be balanced... soon™
            </span>
          </div>
        </div>
      </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/break_infinity.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations"></script>
<script src="js/customlib/producer.js"> </script>
<script src="js/customlib/currency.js"> </script>
<script src="js/customlib/requirement.js"> </script>
<script src="js/customlib/cost.js"> </script>
<script src="js/customlib/production.js"> </script>
<script src="js/customlib/upgrade.js"> </script>
<script src="js/customlib/effect.js"> </script>
<script src="js/customlib/prestige.js"> </script>
<script src="js/customlib/achievement.js"> </script>
<script src="js/customlib/linetree.js"> </script>
<script src="js/AIPlayer.js"> </script>
<script src="js/settings.js"> </script>
<script src="js/UI.js"> </script>
<script src="js/game.js"> </script>
<script src="js/vueimplementation.js"></script>
<script src="js/hotkeys.js"></script>
</html>
