.centered {
    text-align: center;
    align-self: center;
}

/*.test{
  vertical-align: top;
}

table {
  border: 1px solid black;
}
tr {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}*/

table.quarkproducertable{
  width: 30%;
  margin-left: 10%;
  display: inline-block;
}

.hidden {
    visibility: hidden;
}

:focus{
    outline: 0;
    box-shadow: none!important;
}

.smallstandardtext{
    font-size: 12px;
}

td.righttablecolumn {
    text-align : right;
}

.baseproducername {
    font-size: 24px
}

.buybutton {
    font-size: 12px;
}

.buybutton {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.buybutton .tooltiptext {
    visibility: hidden;
    width: 100%;
    text-align: center;
    background-color: grey;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 1;
  }

.buybutton:hover .tooltiptext {
    visibility: visible;
}

.optimal{
    color: red;
}
