* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.palettelist {
  height: 50px; /* Full-height: remove this if you want "auto" height */
  width: 500px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  margin-left: 50%;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
}

.palette{
  width: 100px;
  height: 100px;
  padding: 0px 0px 0px 0px;
}

.centered {
    text-align: center;
    align-self: center;
}

span {
  white-space: pre-line;
}

/*Side Navigation*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .menubutton {
  padding: 1px 1px 1px 5px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.sidenav .menubutton:hover {
  cursor: pointer;
}

.menubutton:hover .submenu{
  display: block;
}


.gamename {
  padding: 5px 1px 1px 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  display: block;
}

#gamecontent {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.producerlabel {
  font-size: 24px;
  font-weight: bold;
}

.entry{
  flex: 1 0 25%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 12px;}
}

table.quarkproducertable{
  width: 30%;
  margin-left: 10%;
  display: inline-block;
}

.hidden {
    visibility: hidden;
}

:focus{
    outline: 0;
    box-shadow: none!important;
}

.smallstandardtext{
    font-size: 12px;
}

td.righttablecolumn {
    text-align : right;
}

.baseproducername {
    font-size: 24px
}

.buybutton {
    font-size: 12px;
}

.tooltipholder {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.leftpadding{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.moveablescalableobject {
  display: block;
  -webkit-backface-visibility: hidden;
}

.tooltipholder .tooltip {
    visibility: hidden!important;
    width: 100%;
    text-align: center;
    background-color: grey;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 1;
  }

.tooltipholder:hover .tooltip {
    visibility: visible!important;
}

.optimal{
    color: red;
}

/*Electron Upgrades*/
.electronupgradecloud{
  width: 100%;
  outline: solid black 1px;
  height: 500px;
}

.electronquickupgradebutton{
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
}

.electronquickupgradebutton:hover{
  border-radius: 15px;
  border-width: 3px;
  transition-duration: .25s;
}

.electronupgradetooltip{
  width: 400px!important;
}

.electrontreeline{
  stroke: black;
  stroke-width: 2px;
}

.electronupgradelabel {
  font-size: 24px;
  font-weight: bold;
}

/*Achievements*/
.achievementdisplay{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.achievement{
  text-align: center;
  align-self: center;
  vertical-align: middle;
}

.achievement:hover {
  cursor: default;
}

/*General*/
.fittingimage{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Statistics*/

.statsidenav {
  height: 100%;
  width: 80px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 165px;
  overflow-x: hidden;
  padding-top: 20px;
  align: left;
}

.statsidenav .menubutton {
  padding: 1px 1px 1px 5px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.statsidenav .menubutton:hover {
  cursor: pointer;
}

.statcontent {
  margin-left: 80px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.past10value {
  font-size: 12px;
}

.past10label {
  font-weight: bold;
  font-size: 24px;
}
