* {
  text-decoration:none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
      -webkit-user-drag: none;
       -khtml-user-drag: none;
         -moz-user-drag: none;
           -o-user-drag: none;

}

.centered {
    text-align: center;
    align-self: center;
}

span {
  white-space: pre-line;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

/*Side Navigation*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .menubutton {
  padding: 1px 1px 1px 5px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  border: 2px solid;
  margin: 2px 2px 2px 2px;
}

.sidenav .menubutton:hover {
  cursor: pointer;
}

.menubutton:hover .submenu{
  display: block;
}


.gamename {
  padding: 5px 1px 1px 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  display: block;
}

#gamecontent {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
#currenciesdisplay {
  height:100px;
  width: 90%;
}

.producerlabel {
  font-size: 24px;
  font-weight: bold;
}

.entry{
  flex: 1 0 25%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 12px;}
}

table.quarkproducertable{
  width: 30%;
  margin-left: 10%;
  display: inline-block;
}

.hidden {
    visibility: hidden;
}

:focus{
    outline: 0;
    box-shadow: none!important;
}

.smallstandardtext{
    font-size: 12px;
}

td.righttablecolumn {
    text-align : right;
}

.baseproducername {
    font-size: 24px
}

.buybutton {
    font-size: 12px;
}

.tooltipholder {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.leftpadding{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.moveablescalableobject {
  display: block;
  -webkit-backface-visibility: hidden;
}

.tooltipholder .tooltip {
    visibility: hidden!important;
    width: 100%;
    text-align: center;
    background-color: grey;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 1;
  }

.tooltipholder:hover .tooltip {
    visibility: visible!important;
}

.optimal{
    color: red;
}

/*Electron Upgrades*/
.upgrade{
  width: 32px;
  height: 32px;
  margin: 1px 1px 1px 1px;
  text-decoration: none;
}

#upgrades{
  margin-top: 20px;
}

#upgradelist{
  width: 70%;
}

/*Electron Power*/
.electronpower{
  border: white;
  height: 70%;
  overflow-y: scroll;
}

/*Upgrade Information*/
#upgradeinfo{
  position: fixed;
  bottom: 30px;
  text-align: center;
  align-self: center;
  width: 90%;
}

.upgradebuyamount{
  width: 200px;
  height: 30px;
  text-align: center;
  border: solid 3px;
  margin-right: 20px;
}

.upgradescreenauto{
  width: 200px;
  height: 30px;
  text-align: center;
  border: solid 3px;
  margin-left: 20px;
}
.upgradename{
  font-size: 18px;
}
.upgradelevel{
  font-size: 18px;
}
.upgradecost{
  font-size: 18px;
}
.upgradeeffect{
  font-size: 18px;
}

.bonusupgrade{
  font-size: 18px;
}

/*Challenge Information*/
#challengeinfo{
  position: fixed;
  bottom: 30px;
  text-align: center;
  align-self: center;
  width: 90%;
}
.challengeenterexit{
  width: 200px;
  height: 30px;
  text-align: center;
  border: solid 3px;
}
.challengeentercontainer{
  position: absolute;
  width: 30%;
  top: 20%;
  left: 70%;
}
.challengeenterinfo{
  font-size: 12px;
}

.challengebuyamount{
  width: 200px;
  height: 30px;
  text-align: center;
  border: solid 3px;
  margin-right: 20px;
}

.challengescreenauto{
  width: 200px;
  height: 30px;
  text-align: center;
  border: solid 3px;
  margin-left: 20px;
}
.challengeinfo{
  font-size: 18px;
  width: 75%;
}
.challengedifficulty{
  font-size: 18px;
  padding-left: 4px;
  padding-right: 4px;
}
.challengeactivator{
  font-size: 18px;
  width: 76px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.changechallengedifficulty{
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 24px;
}
.challengedisplay{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.challengeimage{
  width: 64px;
  height: 64px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.challengedisplay{
  vertical-align: top;
  width: 130;
}
.challengedifficulty{
  margin-top: 2px;
  margin-bottom: 2px;
}

.challengelist{
  margin: 2px;
  width: 60%;
  height: 50%;
  overflow-y: scroll;
}

.applybutton{
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 24px;
}

.challengeinfotable{
  width: 100%;
  height: 20%;
  overflow-y: scroll;
}
.challengeinfocell{
  height: 100%;
  width: 50%;
}

/*Achievements*/
.achievement{
  width: 32px;
  height: 32px;
  text-decoration: none;
}

.achievementdisplay{
  height: 45%;
  overflow-y: scroll;
  overflow-x: scroll;
}

#achievements{
  margin-top: 20px;
}
.achievementrow { display: block; float: left; }

.achievementcell { display: block; }

#achievementinfo{
  position: fixed;
  bottom: 30px;
  text-align: center;
  align-self: center;
  width: 90%;
}
.achievementinfo{
  font-size: 18px;
}

/*General*/
.fittingimage{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Statistics*/
.statinfo{
  width: 100%;
}

.subsidenav {
  width: 80px;
  position: absolute;
  z-index: 1;
  left: 165px;
  overflow-x: hidden;
  align: left;
}

.subsidenav .menubutton {
  padding: 1px 1px 1px 5px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  border: 1px solid;
}

.subsidenav .menubutton:hover {
  cursor: pointer;
}

.subcontent {
  margin-left: 80px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  overflow-y: scroll;
}

.past10value {
  font-size: 12px;
}

.past10label {
  font-weight: bold;
  font-size: 24px;
}

/*TopBar*/
#topbardisplay{
  height: 100px;
  width: 100%;
}
.currencymarker{
  width:70%;
}
.prestigemarker{
  width:30%;
}

/*Currency Displays*/
#currenciesdisplay{
  width:100%;
  overflow-x: scroll;
}

.currencydisplay {
  font-size: 14px;
  font-weight: bold;
  vertical-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
.currenciesrow{
  height: 34px;
  vertical-align: center;
}
.currenciescell{
  height: 90%;
  vertical-align: center;
  width: 100px;
}
.currencyimage{
  margin: auto;
  vertical-align: center;
}
.currencydisplaydiv{
  height: 100%;
  width: 100%;
  margin: auto;
}

/* Prestige Display */
#prestigedisplay{
  width: 100%;
  height: 56px;
  overflow-x: scroll;
  margin-top: 1px;
  margin-left: 1px;
}

#prestigegain{
  width: 100%;
  overflow-x: scroll;
  margin-top: 1px;
  margin-left: 1px;
}

.prestigerequirement{
  font-size: 16px;
}

.prestigereward{
  font-size: 16px;
  vertical-align: center;
}

.prestigerewardicon{
  width: 16px;
  height: 16px;  
}
.prestigeicon:hover{
  cursor: pointer;
}

/*Producer Display*/
.producerrow{
  height: 32px;
}
.producerimage{
  width: 36px;
}
.producername{
  width: 220px;
}
.producerproduction{
  width: 220px;
}
.producercost{
  width: 200px;
}
.producercostbutton{
  height: 32px;
  width: 96%;
}
.producercostbutton:hover{
  cursor: pointer;
}
.producerauto{
  width: 120px;
}

.producerscreen{
  overflow-y: scroll;
  height: 70%;
}

/*Auto Button*/
.autobutton{
  height: 32px;
  width: 96%;
}
.autobutton{
  cursor: pointer;
}
.toggleallauto{
  height: 32px;
  width: 96%;
}
.toggleallauto:hover{
  cursor: pointer;
}

/*Upgrade Display*/
.upgradeimage{
  width: 36px;
}
.upgradename{
  width: 220px;
  white-space: pre-line;
}
.upgradeproduction{
  width: 220px;
}
.upgradecost{
  width: 200px;
}
.upgradecostbutton{
  height: 32px;
  width: 96%;
}
.upgradecostbutton:hover{
  cursor: pointer;
}

/*Appliable Upgrades*/
.appliableupgradecostbutton{
  height: 32px;
  width: 240px;
  margin-left: 100px;
}
.appliableupgradebutton{
  height: 32px;
  width: 120px;
  margin-left: 4px;
}
.upgradeprogress{
  width: 220px;
  white-space: pre-line;
}
.upgradeauto{
  width: 120px;
}

/*Seperation*/
.spacer32{
  height: 32;
}

/*Changelog*/
.changelogtext{
  font-size: 16px;
}

/*Buy Amount Stuff*/
.buyamountdisplay{
  position: absolute;
  bottom: 25px;
  border: 2px solid;
  padding: 4px 4px 4px 4px;
  width: 240px;
  height : 32px;
}
.buyamountdisplay:hover{
  cursor: pointer;
}

.buyamounttext{
  font-size: 16px;
}

/*Options menu*/
.optioncell{
  width: 25%;
  height: 100px;
  align-content: center;
}
.optionbutton{
  padding: 5px 20px 5px 20px;
  font-size: 16px;
}
.notationoptionlabel{
  font-size: 24px;
}
.standarddropdown{
  font-size: 16px;
  border: 2px solid;
}

#file-input {
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  filter: alpha(opacity=0); /* IE < 9 */
  opacity: 0;
}
.input-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.hotkeyinfo{
  position: fixed;
  bottom: 50px;
  font-size: 12px;
  text-align: center;
  align-self: center;
  width: 90%;
}

.linkinfo {
  position: fixed;
  bottom: 30px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  width: 90%;
}
a {
  text-decoration: none;
  text-decoration: underline;
}

/*Modal Stuff*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
  border-radius: 5px;
}

.modalbutton{
  font-size: 18px;
  padding: 4px 10px;
  margin-right: 10px;
  min-width: 100px;
}

/*Board*/
.boardimage{
  width: 32px;
  height: 32px;
}
.boardtable{
  border-collapse: collapse;
}
.boardcell{
  padding: 0px;
}
.boardrow{
  padding: 0px;
}

.pieceimage{
  width: 16px;
  height: 16px;
}
.piecetable{
  margin: 4px;
  border-collapse: collapse;
  border: 1px solid;
}
.piecediv{
  display: inline-block;
}
.piececell{
  padding: 0px;
}
.piecerow{
  padding: 0px;
}
.pendingpiecelist{
  height: 320px;
  width: 400px;
  overflow-y: scroll;
  display: inline-block;
}

.pieceinfotitle{
  font-size: 18px;
}

.pieceinfo{
  font-size: 12px;
}