body {
    background-color: black;
}

.currencyextra {
    font-size: 12px;
    color: darkgrey;
}

.currencydisplay {
    font-size: 24px;
    color : white;
}

.menubutton{
    font-family: monospace;
    font-size: 24px;
    display: inline-block;
    background-color: gray;
    border: 1px solid orangered;
    border-radius: 4px;
    margin: 4px 4px;
    cursor: pointer;
}

.menubutton:hover{
    background-color: cadetblue;
}

.optionbutton{
    color: black;
    width: 200px;
    height: 60px;
    font-size: 130%;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.standardbutton{
    font-family: monospace;
    background-color: gray;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 4px 4px;
    transition-duration: .25s;
}

.standardbutton:hover{
    background-color: rgb(106, 207, 122);
    border: 1px solid rgb(42, 177, 64);
}

.baseproducername{
		color:white
}

label{
    font-family: monospace;
    color: black;
    margin: 4px 4px;
    cursor: pointer;
}

.standarddropdown{
    margin-top: 5px;
    color: black;
    width: 90%;
}

option{
    font-family: monospace;
    color: black;
    margin: 4px 4px;
}

select{
    font-family: monospace;
    color: black;
    background-color: azure;
    margin: 4px 4px;
}


.changelogversion{
	font-family:monospace;
	color:white;
}

.changelogtext{
	font-family:monospace;
	color:white;
}
