/* Palette for use in light mode
  Colors:
  $artichoke: #92977eff;
  $medium-champagne: #eadda6ff;
  $cornsilk: #fffae2ff;
  $blood-red: #6b0504ff;
  $chinese-red: #a3320bff;
  $yellow-green-crayola: #d5e68dff;
  $dark-purple: #331e38ff;
  $cadet-grey: #8c9daeff;
  $cadet-grey-2: #9aadbfff;
  $cerulean-frost: #6d98baff;
*/

/*background color*/
body{
  background-color:#EEE;

}

/*Menu Buttons*/
.menubutton{
  color:#EEE;

}

.gamename{
  color:#F0ECE2;

}

/*Sidebar Color*/
.sidenav{
  background-color:#BBB;

}

/*Quark Screen*/
.currencyextra{
  color:#333;

}

.title{
  color:#333;

}

.baseupgradename{
  color:#FFFFFF;

}

/*Achievement Screen*/
.achievementdisplay{
  color:#FFFFFF;

}
